In [1]:
# load up NumPy and a bunch of aliases into our Jupyter environment
# also: make plotting inline inside of the browser

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [3]:
df = pd.read_csv('celebrity_deaths_2016.csv')

In [4]:
df

,dateofdeath,name,age,bio,causeofdeath,Unnamed: 5,Unnamed: 6
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer,NaN,NaN
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer,NaN,NaN
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer,NaN,NaN
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke,NaN,NaN
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure,NaN,NaN
...,...,...,...,...,...,...,...
6538,2016-12-27,Barbara Tarbuck,74,"American actress (General Hospital, Short Circ...",NaN,NaN,NaN
6539,2016-12-27,Hans Tietmeyer,85,"German economist, President of Deutsche Bundes...",NaN,NaN,NaN
6540,2016-12-27,Ratnasiri Wickremanayake,83,"Sri Lankan politician, Prime Minister (2000200...",NaN,NaN,NaN
6541,2016-12-27,Cara Rafaela,23,American racehorse (death announced on this date),euthanized,NaN,NaN
6542,2016-12-27,Balasaheb Vikhe Patil,84,Indian politician.,NaN,NaN,NaN

In [5]:
df.head(10)

,dateofdeath,name,age,bio,causeofdeath,Unnamed: 5,Unnamed: 6
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer,NaN,NaN
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer,NaN,NaN
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer,NaN,NaN
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke,NaN,NaN
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure,NaN,NaN
5,2016-01-01,Mike Oxley,71,"American politician, member of the United Stat...",lung cancer,NaN,NaN
6,2016-01-01,John Coleman Moore,92,American mathematician.,NaN,NaN,NaN
7,2016-01-01,Jacques Deny,99,French mathematician.,NaN,NaN,NaN
8,2016-01-01,Mark B,45,British hip-hop record producer.,NaN,NaN,NaN
9,2016-01-01,George Alexandru,58,Romanian theater and film actor.,NaN,NaN,NaN

In [6]:
df.tail(10)

,dateofdeath,name,age,bio,causeofdeath,Unnamed: 5,Unnamed: 6
6533,2016-12-27,Bong Go,66,"Filipino basketball coach (Presto, Talk N' Tex...",stroke,NaN,NaN
6534,2016-12-27,Heno Magee,77,Irish playwright.,NaN,NaN,NaN
6535,2016-12-27,Annanias Mathe,40,Mozambican criminal.,NaN,NaN,NaN
6536,2016-12-27,Tricia McCauley,46,American actress (Step Up),strangulation and blunt force trauma,NaN,NaN
6537,2016-12-27,George A. Russell,95,"American educator, President of University of ...",NaN,NaN,NaN
6538,2016-12-27,Barbara Tarbuck,74,"American actress (General Hospital, Short Circ...",NaN,NaN,NaN
6539,2016-12-27,Hans Tietmeyer,85,"German economist, President of Deutsche Bundes...",NaN,NaN,NaN
6540,2016-12-27,Ratnasiri Wickremanayake,83,"Sri Lankan politician, Prime Minister (2000200...",NaN,NaN,NaN
6541,2016-12-27,Cara Rafaela,23,American racehorse (death announced on this date),euthanized,NaN,NaN
6542,2016-12-27,Balasaheb Vikhe Patil,84,Indian politician.,NaN,NaN,NaN

In [8]:
df = pd.read_csv('celebrity_deaths_2016.csv', 
           usecols=['dateofdeath', 'name', 'age', 'bio', 'causeofdeath'])
df

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure
...,...,...,...,...,...
6538,2016-12-27,Barbara Tarbuck,74,"American actress (General Hospital, Short Circ...",NaN
6539,2016-12-27,Hans Tietmeyer,85,"German economist, President of Deutsche Bundes...",NaN
6540,2016-12-27,Ratnasiri Wickremanayake,83,"Sri Lankan politician, Prime Minister (2000200...",NaN
6541,2016-12-27,Cara Rafaela,23,American racehorse (death announced on this date),euthanized
6542,2016-12-27,Balasaheb Vikhe Patil,84,Indian politician.,NaN

In [9]:
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [10]:
df.dtypes

dateofdeath     object
name            object
age             object
bio             object
causeofdeath    object
dtype: object

In [11]:
df['age'].astype(np.int64)

ValueError: cannot convert float NaN to integer

In [12]:
new_df = df.dropna()

In [13]:
new_df.shape

(1531, 5)

In [14]:
df['age'].fillna(df['age'].mean())

TypeError: can only concatenate str (not "int") to str

In [15]:
# (1) Turn NaN values into something that could be an int
# (2) get rid of things that cannot be turned into ints
# (3) turn everything into an actual int type
# (4) turn NaN values (which we transformed in part 1) into the mean

In [16]:
df['age'] = df['age'].fillna('0')

In [18]:
df['age'].astype(np.int64)

ValueError: invalid literal for int() with base 10: ' 68-69'

In [19]:
'123'.isdigit()

True

In [20]:
'abc'.isdigit()

False

In [22]:
df = df[df['age'].str.isdigit()]

In [23]:
df.shape

(6508, 5)

In [24]:
df.dtypes

dateofdeath     object
name            object
age             object
bio             object
causeofdeath    object
dtype: object

In [25]:
df['age'].astype(np.int64)

0       71
1       74
2       79
3       45
4       83
        ..
6538    74
6539    85
6540    83
6541    23
6542    84
Name: age, Length: 6508, dtype: int64

In [28]:
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure

In [29]:
df.describe()

       dateofdeath            name   age                   bio causeofdeath
count         6508            6508  6508                  6506         1532
unique         364            6491   105                  5853          360
top     2016-11-28  Annanias Mathe    88  American politician.       cancer
freq            43               2   236                    33          248

In [31]:
df.dtypes

dateofdeath     object
name            object
age             object
bio             object
causeofdeath    object
dtype: object

In [32]:
df['age']

0       71
1       74
2       79
3       45
4       83
        ..
6538    74
6539    85
6540    83
6541    23
6542    84
Name: age, Length: 6508, dtype: object

In [33]:
df.mean()

Series([], dtype: float64)

In [35]:
df['age'] = df['age'].astype(np.float64)

<ipython-input-35-3ee8f4ea4332>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].astype(np.float64)

In [36]:
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71.0,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74.0,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79.0,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45.0,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83.0,Russian Avar poet and journalist,heart failure

In [40]:
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71.0,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74.0,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79.0,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45.0,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83.0,Russian Avar poet and journalist,heart failure

In [46]:
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71.0,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74.0,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79.0,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45.0,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83.0,Russian Avar poet and journalist,heart failure

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6508 entries, 0 to 6542
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dateofdeath   6508 non-null   object
 1   name          6508 non-null   object
 2   age           6481 non-null   float64
 3   bio           6506 non-null   object
 4   causeofdeath  1532 non-null   object
dtypes: float64(1), object(4)
memory usage: 625.1+ KB

In [48]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6508 entries, 0 to 6542
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dateofdeath   6508 non-null   object
 1   name          6508 non-null   object
 2   age           6481 non-null   float64
 3   bio           6506 non-null   object
 4   causeofdeath  1532 non-null   object
dtypes: float64(1), object(4)
memory usage: 2.2 MB

In [49]:
6542 * 8

52336

In [52]:
df['age'] = df['age'].fillna(0)

<ipython-input-52-722191f3c618>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].fillna(0)

In [55]:
df['age'] = df['age'].astype(np.int8)

<ipython-input-55-672ecfc93fb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'] = df['age'].astype(np.int8)

In [56]:
df.dtypes

dateofdeath     object
name            object
age               int8
bio             object
causeofdeath    object
dtype: object

In [57]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6508 entries, 0 to 6542
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dateofdeath   6508 non-null   object
 1   name          6508 non-null   object
 2   age           6508 non-null   int8
 3   bio           6506 non-null   object
 4   causeofdeath  1532 non-null   object
dtypes: int8(1), object(4)
memory usage: 2.1 MB

# Exercise: Analyzing and reducing memory usage

1. Load the celebrity deaths file, ignoring the Unnamed columns
2. Turn the "age" column into an int8.  This will require:
    - Turning NaN values into '0'
    - Keeping only those rows that are str.isidigit
    - Turning the column into np.int64
3. Check the memory usage
4. Change the age column to be np.int8, and see the change in memory usage.

In [58]:
df = pd.read_csv('celebrity_deaths_2016.csv', 
                usecols=['dateofdeath', 'name', 'age', 'bio', 'causeofdeath'])
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure

In [59]:
df.dtypes

dateofdeath     object
name            object
age             object
bio             object
causeofdeath    object
dtype: object

In [60]:
df['age'] = df['age'].fillna('0')

In [62]:
df = df[df['age'].str.isdigit() ]
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure

In [63]:
df.dtypes

dateofdeath     object
name            object
age             object
bio             object
causeofdeath    object
dtype: object

In [64]:
df['age'] = df['age'].astype(np.float64)

In [65]:
df.dtypes

dateofdeath      object
name             object
age             float64
bio              object
causeofdeath     object
dtype: object

In [67]:
df[df['age'] == 0]['age'] = NaN

<ipython-input-67-d9ec9198f433>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['age'] == 0]['age'] = NaN

In [68]:
df.count()

dateofdeath     6508
name            6508
age             6508
bio             6506
causeofdeath    1532
dtype: int64

In [69]:
df.describe()

               age
count  6508.000000
mean     76.699754
std      17.125942
min       0.000000
25%      69.000000
50%      81.000000
75%      89.000000
max     116.000000

In [70]:
df['age'].mean()

76.69975414874001

In [71]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6508 entries, 0 to 6542
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dateofdeath   6508 non-null   object
 1   name          6508 non-null   object
 2   age           6508 non-null   float64
 3   bio           6506 non-null   object
 4   causeofdeath  1532 non-null   object
dtypes: float64(1), object(4)
memory usage: 1.9 MB

In [72]:
df['causeofdeath'].value_counts()

 cancer                                              248
 heart attack                                        125
 traffic collision                                    56
 lung cancer                                          51
 pneumonia                                            50
                                                    ...
 archaeologist and academician (Romanian Academy)      1
 hit by train                                          1
 sepsis following influenza and pneumonia              1
 myeloma                                               1
 complications from pancreatic cancer                  1
Name: causeofdeath, Length: 360, dtype: int64

In [73]:
df['causeofdeath'] = df['causeofdeath'].astype('category')

In [74]:
df.head()

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71.0,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74.0,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79.0,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45.0,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83.0,Russian Avar poet and journalist,heart failure

In [75]:
df['causeofdeath'].str.len()

0       13.0
1        7.0
2        7.0
3       26.0
4       14.0
        ...
6538     NaN
6539     NaN
6540     NaN
6541    10.0
6542     NaN
Name: causeofdeath, Length: 6508, dtype: float64

In [76]:
df['causeofdeath']

0                     brain cancer
1                           cancer
2                           cancer
3        complications of a stroke
4                    heart failure
                   ...
6538                           NaN
6539                           NaN
6540                           NaN
6541                    euthanized
6542                           NaN
Name: causeofdeath, Length: 6508, dtype: category
Categories (360, object): [' ALS', ' Alzheimer's disease', ' Bharatiya Janta Party leader', ' Birmingham City)', ..., 'stroke', 'suicide', 'suspected suicide', 'traffic collision']

In [77]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6508 entries, 0 to 6542
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dateofdeath   6508 non-null   object
 1   name          6508 non-null   object
 2   age           6508 non-null   float64
 3   bio           6506 non-null   object
 4   causeofdeath  1532 non-null   category
dtypes: category(1), float64(1), object(3)
memory usage: 1.6 MB

In [81]:
df = pd.read_csv('celebrity_deaths_2016.csv', 
           usecols=['dateofdeath', 'name', 'age', 'bio', 'causeofdeath'],
           dtype={'causeofdeath':'category'})
df

,dateofdeath,name,age,bio,causeofdeath
0,2016-01-01,Tony Lane,71,American art director (Rolling Stone),brain cancer
1,2016-01-01,Gilbert Kaplan,74,American conductor and businessman,cancer
2,2016-01-01,Brian Johns,79,"Australian company director, managing director...",cancer
3,2016-01-01,Natasha Aguilar,45,"Costa Rican swimmer, silver and bronze medalis...",complications of a stroke
4,2016-01-01,Fazu Aliyeva,83,Russian Avar poet and journalist,heart failure
...,...,...,...,...,...
6538,2016-12-27,Barbara Tarbuck,74,"American actress (General Hospital, Short Circ...",NaN
6539,2016-12-27,Hans Tietmeyer,85,"German economist, President of Deutsche Bundes...",NaN
6540,2016-12-27,Ratnasiri Wickremanayake,83,"Sri Lankan politician, Prime Minister (2000200...",NaN
6541,2016-12-27,Cara Rafaela,23,American racehorse (death announced on this date),euthanized
6542,2016-12-27,Balasaheb Vikhe Patil,84,Indian politician.,NaN

In [79]:
df.dtypes

dateofdeath       object
name              object
age               object
bio               object
causeofdeath    category
dtype: object

In [82]:
!ls -l celebrity_deaths_2016.csv

-rw-r--r-- 1 reuven staff 537921 Mar  2  2017 celebrity_deaths_2016.csv